#projects {
    background-color: #000;
    width: 100vw;
    margin-top: 4rem;
}

.projects-heading {
    text-align: left;
    z-index: 1;
    position: relative;
    font-size: 5rem;
    margin-bottom: .5rem;
    margin-left: 3rem;
    color: #fff;
    margin-top: 4rem;
    font-family:'Inconsolata', monospace;
}

.projects-background {
    background-color: #000;
    background-size: 10px 10px;
    display: inline-block;
    position: relative;
    width: 70%;
    height: 180px;
    margin-top: -8.5rem;
    margin-left: 10rem;
}

.projects-line {
    width: 100px;
    margin-left: 3rem;
    border-radius: 5px;
    height: 4px;
    margin-top: -2.5rem;
}

.projects-scroll {
   color: #fff;
   font-family:'Inconsolata', monospace;
   letter-spacing: 3px;
   margin-left: 13rem;
   margin-top: 9rem;
   text-transform: uppercase;
   font-size: 11px;
}

.projects-scroll-line {
    height: 150px;
    border-left: .5px solid #fff;
    place-self: center;
    margin-left: 1.5rem;
    margin-top: .5rem;
}

.code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10rem;
    margin-left: 37rem;
}

.code-info {
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    line-height: 2px;
    text-decoration: none !important;
    color: #5F18EB;
    cursor: pointer;
    /* background-color: red; */
    width: 30%;
}


.code {
    position: relative;
    width: 200px;
    display: inline-flex;
    font-size: 5rem;
    font-family:'Inconsolata', monospace;
    color: #78c4c8;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15rem;
}

.projects-grid img {
    display: flex;
    margin: auto;
    width: 50%;
    border: 1px none transparent;
    border-radius: 4px;
    box-shadow: 8px 8px 22px -15px rgba(0,0,0,0.75);
}

.projects-grid h3 {
    font-family:'Inconsolata', monospace;
    font-size: 2.5rem;
    color:#fff;
    margin: auto;
    text-align: center;   
}

.highlights {
    position: absolute;
    background-color: #5F18EB;
    top: 55%;
    left: 1%;
    bottom: auto;
    height: 36%;
    width: 100%;
    z-index: -1;   
}

.underline {
    display: inline;
    position: relative;
    z-index: 1;
    color: #fff;
}



.project-one {
    grid-area: 1/1;
    align-items: center;
    justify-items: center;
    padding-top: 5px; 
}

.project-one-info {
    grid-area: 1/2; 
    margin: 38px;
    margin-left: -5rem;;
    width: 80%;
    font-family:'Inconsolata', monospace;
    font-size: 1.2rem;
    letter-spacing: .5px;
    color:#fff;
}

.project-two {
    grid-area: 2/2;
    align-items: center;
    justify-items: center;
    margin-top: 5rem;
}

.project-two-info {
    grid-area: 2/1; 
    width: 80%;
    font-family:'Inconsolata', monospace;
    font-size: 1.2rem;
    letter-spacing: .5px;
    color:#fff;
    margin: 0 auto;
    text-align: left;
    z-index: 1;
    margin-top: 9rem;
    margin-left: 13rem; 
}

.project-three {
    grid-area: 3/1;
    place-self: center;
    margin-top: 5rem; 
}

.project-three-info {
    grid-area: 3/2;
    width: 80%;
    font-family:'Inconsolata', monospace;
    font-size: 1.2rem;
    letter-spacing: .5px;
    color:#fff;
    margin: auto;
    margin-top: 7rem;
    margin-left: -5rem;
}

.project-four {
    grid-area: 4/2;
    place-self: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.project-four-info {
    grid-area: 4/1;
    width: 80%;
    font-family:'Inconsolata', monospace;
    font-size: 1.2rem;
    letter-spacing: .5px;
    color:#fff;
    text-align: left;
    margin-top: 7rem;
    margin-left: 10rem;
    margin-bottom: 7rem;
}

.project-five {
    grid-area: 5/1;
    place-self: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    /* background-color: red; */
}

.project-five-info {
    grid-area: 5/1;
    margin: 38px;
    margin-left: 34rem;;
    width: 80%;
    font-family:'Inconsolata', monospace;
    font-size: 1.2rem;
    letter-spacing: .5px;
    color:#fff;
  
    /* background-color: red; */
}

.project-one, .project-two, .project-three, .project-four, .project-five {
    transition-duration: 1s;   
}

.project-one:hover, .project-two:hover, .project-three:hover, .project-four:hover, .project-five:hover {
    filter:brightness(120%);
    scale: 1.02;
}

.show-more {
    margin-left: 4rem;
}


.show-more button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-family:'Inconsolata', monospace;
    font-size: 1.7rem;
    color: #fff;
}

.show-more button:hover{
    color: #5F18EB;
    cursor: pointer;

}

.show-more p {
    margin-left: 4rem;  
}

.show-more p a {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bolder;
    letter-spacing: .5px;
    text-decoration:none;
    font-family:'Inconsolata', monospace;
}

.show-more p a:hover {
    color: #5F18EB;
    cursor: pointer;
}


/*-- MEDIA QUERIES --*/

/*--Small/Medium Screens--*/
@media only screen and (min-width:576px) and (max-width: 945px){
    .projects-scroll {
        margin-left: 10rem;
    }

    .code-container {
        margin-left: 26.5rem;
       
    }


    .projects-grid img {
        width: 50%;
        
    }

    .project-one-info, .project-two-info, .project-three-info, .project-four-info, .project-five-info {
        font-size: 1.1rem;
        width: 90%;
        margin-left: 1rem;
    }

    .project-two-info {
        margin-top: 7rem;
        width: 100%;
    }

    .project-three-info {
        margin-top: 7rem;
    }

    .project-four-info {
        margin-top: 7rem;
        width: 95%;
        margin-bottom: 2rem;
    }

    .project-five-info {
        margin-top: 7rem;
        width: 95%;
        margin-bottom: 2rem;
    }

    .projects-grid h3 {
        font-size: 1.7rem;
    }

    .show-more {
        margin-left: 2rem
    }
    
    .show-more button {
        font-size: 1.5rem;
    }

    .show-more p a {
        font-size: 1.3rem;
    }
}

/*--Extra Small/Small Screens--*/
@media only screen and (min-width: 300px) and (max-width: 575px) {
    
    .projects-background {
        margin-left: 6rem;
    }

    .projects-heading {
        font-size: 4.3rem;
    }

    .projects-line {
        margin-top: -2.5rem;
    }

    .projects-scroll {
        margin-left: 3rem;
        margin-top: 10rem;
        margin-bottom: 1rem;
    }

    .projects-scroll-line {
        height: 120px;
    }

    .code-container {
        margin-left: 12rem;
        margin-top: -15rem;
    }

    .projects-grid {
        display: block;
    }

    .projects-grid h3 {
        font-size: 1.7rem;
    }

    .projects-grid img {
        width: 100%;
    }

    .project-one, .project-two, .project-three, .project-four, .project-five {
      align-items: center;
      margin: 2rem;
     
    }

    .project-one-info, .project-two-info, .project-three-info, .project-four-info, .project-five-info {
        text-align: center;
        margin: 0 auto;
    }

    .project-four {
        align-items: center;
        margin: 2rem;
    }

    .project-four-info {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    #more-projects {
        margin: 0 auto;
        display: flex;  
    }

    .show-more {
       margin: 0 auto; 
    }

    .show-more button {
        font-size: 1.3rem;
    }

    .show-more p {
        margin-left: 1rem;
    }

    .show-more p a {
        font-size: 1.2rem;
    }
}
